<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="../static/style.css" />
    <title>{% block title %}{% endblock %}📃 - Image-to-Text v. 1.0.0 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% endblock %}
</head>
<body>
    <div id="content">
    {% block content %}
    <h1>Image-to-Text</h1>
    <div>
    <p>Hello there! Input a URL to an image on the web in .jpg or .png format and get back detected text.</p>
    </div>
    <div>
    	<form action="/gui">
    	<label class="url_label" for="url">URL:</label><br>
    	<input class="url_text" type="text" id="url" name="url" placeholder="http://example.com/image1.jpg"><br>
    	<input class="url_submit_btn" type="submit" value="Submit">
    	</form>
    </div>
    <div class="tip"><p><b>💡 Tip: </b>Clearer text, better results. Receipts and documents work great!</p></div>

    {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2023 James Bush.
        {% endblock %}
    </div>
</body>
</html>
