{% extends "gui.j2" %}
{% block title %}Child{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .results { 
            color: #336699; 
            white-space: pre-wrap;
            background: lightgrey;
            padding: 1.5rem;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Image-to-Text</h1>
    <h2>Results:<h2>
    <p class="results">
      {{response}}
    </p>
{% endblock %}