{% extends "gui.j2" %}
{% block title %}Results{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Image-to-Text</h1>
    <h2>Results:<h2>
    <div class="results">
      {{response}}
    </div>
    <div>
      <a href="/cs469/gui">Try another!</a>
    </div>
{% endblock %}
